<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hello, Spring Boot!</title>
</head>
<body>
	<h1>AIたくま君（仮）</h1>

	<form th:action="@{/home}" th:object="${homeDto}" method="post">
		<table>
			<caption>
				<strong>従業員検索</strong>
			</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>EMAIL</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>あなた：</th>
					<td>
						<input type="text" th:field="*{yourName}" />
						<em th:if="${#fields.hasErrors('yourName')}" th:errors="*{yourName}">Name Error</em>
					</td>
				</tr>
				<tr>
					<th>入力：</th>
					<td>
						<textarea th:field="*{inputTxt}"></textarea>
						<em th:if="${#fields.hasErrors('inputTxt')}" th:errors="*{inputTxt}">Name Error</em>
					</td>
				</tr>
				<tr>
					<th>ボット：</th>
					<td>
						<input type="text" th:field="*{botName}" />
						<em th:if="${#fields.hasErrors('botName')}" th:errors="*{botName}">Name Error</em>
					</td>
				</tr>
				<tr>
					<th>出力：</th>
					<td>
						<textarea readonly th:field="*{outputTxt}"></textarea>
						<em th:if="${#fields.hasErrors('outputTxt')}" th:errors="*{outputTxt}">Name Error</em>
					</td>
				</tr>
			</tbody>
		</table>

		<p>
			<input type="submit" value="送信" />
		</p>
	</form>
</body>
</html>